* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*first bar of my site*/
.navbar {
  width: 100%;
  height: 50px;
  background-color: lightseagreen;
  
}
.menu-items li a {
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
}
.menu-items li {
  display: inline;
  padding:30px;  
}
.menu-items li :hover{
color:gold;
}
/*this is for my logo*/
.logoborder{
border:3px solid;
height:40px;
width:40px;
border-radius: 15px;
float: right;
margin-top: 10px;
background-image: url(./photos/profile.jpg);
background-repeat: no-repeat;
background-size: 40px 40px;

}

/*this is my profile for the first page*/
.aprish{
  border:5px solid;
  height : 300px;
  width: 300px;
  border-radius: 150px;
  background-color: black; 
  float: right;
  margin-top: 50px;
  margin-right: 30%;
  background-image: url(./photos/profile.jpg);
  background-repeat: no-repeat;
  background-size: 300px 300px;
}
.aprishinfo{
  background-color: aquamarine;
  padding-top: 10%;
  padding-left: 10%;
}
.para{
  padding-top: 10%;
  padding-bottom: 10%;
 background-color: blanchedalmond;

}

.first{
  border:5px;
  height: 500px;
  width: 300px; 
  margin-left: 100px;
}
.second{
  border:5px;
  height: 500px;
  width: 300px;
  margin-left: 180px;
margin-right: 180px;
}

/*this is for my contact page*/
section {
  width: 100%;
  height: 75%;
  display: grid;
}

.content {
  height:60%;
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;

}

/*hover for the text inside the content division*/
.contactleft{
  margin-top: 40px;
  margin-left: 50px;
  display:grid;
}
.contactright{
  margin: auto;
  height: 40%;
  width: 100%;
  margin-left: 300px;
  display:grid;


}
.contactright >input{
  padding-top: 20px;
padding-right: 50px;
margin-top: 20px;

}
.txt{
  padding-top: 20px;
  padding-right: 50px;
  margin-top: 20px;
}
.submitbutn:hover{
  color: white;
  background-color: blue;
  
}
.submitbutn{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  margin-top: 20px;
  border-radius: 9px;
}
/*this is for the image i have put in-between the form and my contact detail*/
.path{
  margin-left: 10%;
  margin-top: 10%;
}
/*this is for my foot section*/

.tail{
  background-color: lightsteelblue;
  display: grid;
  gap: 1fr 1fr 1fr 1fr;
  
}
.left{

}
.middle{
  text-align: center;
  margin-left: 100px;

}
.right{
  text-align: right;
  margin-left: 350px;
  margin-top: 20px;
}
/*this is for my portfolio*/
.box{
  
  background-color: blueviolet;
  grid-template-columns: auto;
  column-gap: 10px;
  row-gap: 10px;
  display:grid;
  padding:10px;
  

}
.boxes{
  background-color: blanchedalmond;
  padding:20px;
  font-size: 30px;
  text-align: center;
  border: 2px solid;
}
/*workexperiences page working on css*/
.work{
  background-color: red;
  height: 80%;
  width: 100%;
  padding: 100px;
}
/*here i have used a small logo to make my work division*/
.photograph{
  border: 1ox solid;
  height: 40px;
  width: 40px;
  border-radius: 6px;
  background-image: url(./photos/logo.png );
  background-repeat: no-repeat;
  background-size: 40px;
  margin-top: 20px;
  font-size: 20px;
}
.photogr{
  margin-left: 50px;

}
.webdesign{
  border: 1ox solid;
  height: 40px;
  width: 40px;
  border-radius: 6px;
  background-image: url(./photos/webdesig.jpg);
  background-repeat: no-repeat;
  background-size: 40px;
  margin-top: 20px;
  font-size: 20px;
}
.webdesig{
  margin-left: 50px;
  
}
.digi{
  border: 1ox solid;
  height: 40px;
  width: 40px;
  border-radius: 6px;
  background-image: url(./photos/digi.png);
  background-repeat: no-repeat;
  background-size: 40px;
  margin-top: 20px;
  font-size: 20px;

}
.digital{
  margin-left: 50px;
  
}