* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*here i have mentioned the particular size after which the background color and the color will be changed*/
@media screen and (max-width: 800px)
{
body .paragraph{
  background-color: darkorchid;
  color:white;
}
body footer{
  background-color: blue;
}

}

/*first bar of my site*/
.navbar {
  width: 100%;
  height: 50px;
  background-color: lightseagreen;
 
  
  
}
.menu-items li a {
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;

}
.menu-items li {
  display: inline;
  padding:30px; 
 
}
.menu-items li :hover{
color:gold;
}
/*this is for my logo*/
.logoborder{
border:3px solid;
height:40px;
width:40px;
border-radius: 15px;
float: right;
margin-top: 10px;
background-image: url(./photos/profile.jpg);
background-repeat: no-repeat;
background-size: 40px 40px;
display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto;

}

/*this is my profile for the first page*/
.aprish img{
  height : 300px;
  width: 300px;
  float: right;
  border-radius: 100px;
 
}
.aprishinfo{
  background-color: aquamarine;
  padding-top: 10%;
  padding-left: 10%;

}
.paragraph{
  background-color: blanchedalmond;
}


/*this is for my contact page*/
section {
  width: 100%;
  height: 75%;
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.content {
  height:60%;
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto;

}

/*hover for the text inside the content division*/
.contactleft{
  margin-top: 40px;
  margin-left: 50px;
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.contactright{
  margin: auto;
  height: 40%;
  width: 100%;
  margin-left: 300px;
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto;


}
.contactright >input{
  padding-top: 20px;
padding-right: 50px;
margin-top: 20px;
display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.txt{
  padding-top: 20px;
  padding-right: 50px;
  margin-top: 20px;
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.submitbutn:hover{
  color: white;
  background-color: blue;
  
}
.submitbutn{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  margin-top: 20px;
  border-radius: 9px;
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
/*this is for the image i have put in-between the form and my contact detail*/
.path{
  margin-left: 10%;
  margin-top: 10%;
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
/*this is for my foot section*/

footer{
  background-color: lightsteelblue;
  display: inline-flex;
  width: 100%;
  
}
.left{
font-family: sans-serif;

}

/*this is for my portfolio*/
1 1 1 1 1 1 1
/*workexperiences page working on css*/
.workbody{
  width: 100%;
  height: 80%;
  background-color: red;
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.work{

  height: 80%;
  width: 100%;
  padding: 100px;
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
/*here i have used a small logo to make my work division*/
.photograph{
  border: 1ox solid;
  height: 40px;
  width: 40px;
  border-radius: 6px;
  background-image: url(./photos/logo.png );
  background-repeat: no-repeat;
  background-size: 40px;
  margin-top: 20px;
  font-size: 20px;
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.photogr{
  margin-left: 50px;
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto;

}
.webdesign{
  border: 1ox solid;
  height: 40px;
  width: 40px;
  border-radius: 6px;
  background-image: url(./photos/webdesig.jpg);
  background-repeat: no-repeat;
  background-size: 40px;
  margin-top: 20px;
  font-size: 20px;
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.webdesig{
  margin-left: 50px;
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  
}
.digi{
  border: 1ox solid;
  height: 40px;
  width: 40px;
  border-radius: 6px;
  background-image: url(./photos/digi.png);
  background-repeat: no-repeat;
  background-size: 40px;
  margin-top: 20px;
  font-size: 20px;
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto;

}
.digital{
  margin-left: 50px;
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  
}