* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*here i have mentioned the particular size after which the background color and the color will be changed*/

@media screen and (max-width: 800px)
{
body .paragraph{
  background-color: darkorchid;
  color:white;
}
body footer{
  background-color: blue;
  -webkit-text-fill-color: black;
}

}

/*here keyframe is used for my animation*/
@keyframes animation{
  from {background-color:black; -webkit-text-fill-color: white;}
  to {background-color: red; }
  
}
/*the info area color will slowly changes*/
.aprishinfo{
  width: 100%;
  height: 100%;
  animation-name: animation;

  animation-duration:5s;
}
/*first bar of my site*/
.navbar {
  width: 100%;
  background-color: lightseagreen;
}

.burger-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .burder-container li {
  list-style: none;
}

.navbar .burger-container a {
  text-decoration: none;
  color:black;
  padding: 12px;
  font-weight: 500;
  font-size: 20px;
}

.navbar .burger-container a:hover{
    color: white;
    background-color: blue;
}

.burger-container {
  display: block;
  position: relative;
  height: 60px;
}
/*this is a hidden check box which i used behind the layers of burger*/
.burger-container .checkbox {
  position: absolute;
  display: block;
  height: 50px;
  width: 45px;
  padding-top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}


.burger-container .hamburger-layers {
  display: block;
  height: 26px;
  width: 40px;
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.burger-container .hamburger-layers .layer {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: blueviolet;
}

.burger-container .hamburger-layers .topbun {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.burger-container .hamburger-layers .fillings {
  transition: transform 0.2s ease-in-out;
}

.burger-container .hamburger-layers .lastbun{
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
  -webkit-text-fill-color: white;
  box-sizing: 500px;
  background-color: black;
  height: 60vh;
  width: 30%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  text-align: left;
}

.navbar .menu-items li {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
}
/*here i have used my image as logo*/
.logo img{
  height : 40px;
  width: 40px;
  float: right;
  border-radius: 8px;
  margin-top: 10px;
  margin-right: 5px;
}

.burger-container input[type="checkbox"]:checked ~ .menu-items {
  transform:none;
}

.burger-container input[type="checkbox"]:checked ~ .hamburger-layers .topbun {
  transform:none;
}

.burger-container input[type="checkbox"]:checked ~ .hamburger-layers.fillings {
  transform: none;
}

.burger-container input[type="checkbox"]:checked ~ .hamburger-layers .lastbun {
  transform:none;
}

.logo a input[type="checkbox"]:checked ~ .logo{
  display: none;
}



/*this is my profile for the first page*/
.aprish img{
  height : 300px;
  width: 300px;
  float: right;
  border-radius: 100px;
 margin-right: 100px;
 
}
.aprishinfo{
  background-color: aquamarine;
  padding-top: 10%;
  padding-left: 10%;

}
.paragraph{
  background-color: blanchedalmond;
}


/*this is for my contact page*/
section {
  width: 100%;
  height: 75%;
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.content {
  height:60%;
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto;

}

/*hover for the text inside the content division*/
.contactleft{
  margin-top: 40px;
  margin-left: 50px;
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.contactright{
  margin: auto;
  height: 40%;
  width: 100%;
  margin-left: 300px;
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto;


}
.contactright >input{
  padding-top: 20px;
padding-right: 50px;
margin-top: 20px;
display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.txt{
  padding-top: 20px;
  padding-right: 50px;
  margin-top: 20px;
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.submitbutn:hover{
  color: white;
  background-color: blue;
  
}
.submitbutn{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  margin-top: 20px;
  border-radius: 9px;
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
/*this is for the image i have put in-between the form and my contact detail*/
.path{
  margin-left: 10%;
  margin-top: 10%;
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
/*this is for my foot section*/

footer{
  background-color: lightsteelblue;
  display: inline-flex;
  width: 100%;
  
}
.left{
font-family: sans-serif;

}

/*this is for my portfolio*/
1 1 1 1 1 1 1
/*workexperiences page working on css*/
.workbody{
  width: 100%;
  height: 80%;
  background-color: red;
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.work{

  height: 80%;
  width: 100%;
  padding: 100px;
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
/*here i have used a small logo to make my work division*/
.photograph{
  border: 1ox solid;
  height: 40px;
  width: 40px;
  border-radius: 6px;
  background-image: url(./photos/logo.png );
  background-repeat: no-repeat;
  background-size: 40px;
  margin-top: 20px;
  font-size: 20px;
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.photogr{
  margin-left: 50px;
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto;

}
.webdesign{
  border: 1ox solid;
  height: 40px;
  width: 40px;
  border-radius: 6px;
  background-image: url(./photos/webdesig.jpg);
  background-repeat: no-repeat;
  background-size: 40px;
  margin-top: 20px;
  font-size: 20px;
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.webdesig{
  margin-left: 50px;
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  
}
.digi{
  border: 1ox solid;
  height: 40px;
  width: 40px;
  border-radius: 6px;
  background-image: url(./photos/digi.png);
  background-repeat: no-repeat;
  background-size: 40px;
  margin-top: 20px;
  font-size: 20px;
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto;

}
.digital{
  margin-left: 50px;
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  
}