* {
  margin: 0;
  box-sizing: border-box;
}
.buffer{
  border:6px solid greenyellow;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  animation: spin 5s linear infinite;
  border-top: 18px solid rgb(55, 43, 226);
  border-left: 20px solid black;
}



/*initial bar*/

#navbar{
  grid-area: navbar;
background: rgb(17, 99, 95);
height: 85px;
position: relative;
padding-top: 20px;
}

nav ul li{
display: inline-block;
}
nav ul li a{
  font-size: 18px;
  text-decoration: none;
  margin:30px;
  color: gold;

}
nav .active{
  background : rgb(100, 22, 79);
color: white;
border-radius: 10px;
padding: 12px;


}
nav ul a:hover{
  
  background : rgb(87, 1, 1);
  border-radius: 10px;
  padding: 12px;


}
.checkbox{
top : 15px;
right : 2%;
font-size: 30px;
float: right;
cursor: pointer;
display: none;
}
#check{
display: none;
}

.topbtn {
  border-radius : 10px;
  font-weight : bold;
  padding : 5px;
  float: right;
margin-right: 80px;
  
  }
  .topbtn:hover {
  border-radius : 12px;
  padding : 8px;
  transition : 0.7s;
  cursor : pointer;
  }


/*here i have used my image as logo*/
.logo img{
  height : 40px;
  width: 40px;
  border-radius: 8px;
  margin-right: 8px;
  float: right;
}


/*this is my profile for the first page*/
.aprish img{
  height : 250px;
  width: 250px;
  float: right;
  border-radius: 90px;
 margin-right: 180px;
 margin-top: 10%;
 
}
.aprishinfo{
  background-color:black;
  color: white;
  padding-top: 12%;
  padding-bottom: 15%;
  font-family: serif;
}
.aprishinfo h2{
  font-size: 100px;
  text-align: center;
}
.paragraph{
  background-color: #DF6C4F;
}
footer{
  background-color: #a4a4a4;
  display: inline-flex;
  width: 100%;
}

/*this is for my portfolio*/

.degree {
  font-size : 20px;
  text-align : center;
  }
  .degree h1{
    color : rgba(121, 8, 34, 0.909);
  }
  h2{
    text-align: center;
    font-size: 50px;
  }
  .aboutme h3 {
  color : rgba(121, 8, 34, 0.909);
  font-size : 30px;
  }
  .me {
font-family: sans-serif;
font-size: 24px;

  }

.My-gallery {
	display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 50px;
  column-gap: 50px;
  display: flex;
	flex-wrap: wrap;
}

.photo {
	margin: 10px;
	flex: 1 0 200px;
}

.photo img {
	display: block;
	width: 100%;
	height: auto;
}

.photo h3 {
	margin: 5px 0 0;
	font-size: 24px;
}
.blank{
  display: grid;
  grid-template-columns: auto;
  row-gap: 30px;
  column-gap: 30px;

}


/*this is for my contact page*/
main {
  display:grid;
  grid-template-columns: auto;
}

/*hover for the text inside the content division*/
.vado {
	max-width: 500px;
	margin: auto;
  margin-left: 15%;

}

h1 {
	text-align: center;
}

form label {
	display: block;
	margin-bottom: 20px;
}

form input[type="text"]{
	width: 100%;
	padding: 15px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 16px;
}
form input[type="submit"] {
	background-color: #ffc413;
	padding: 10px 20px;
	border: none;
	border-radius: 8px;
	font-size: 16px;
	cursor: pointer;
}


 form input[type="email"] {
	width: 100%;
	padding: 15px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 16px;
}

 form textarea {
	width: 100%;
	padding: 15px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 16px;
}


form input[type="submit"]:hover {
	background-color: #9617eb;
}


/*this is my contact*/
main{
display: grid;
grid-template-columns: auto;
}
 .mobile{
  border: 5px solid;
  border-radius: 20px;
  width: 325px;
  height: 600px;
  background-color: black;
  margin-right: 15%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.display {
  border: 3px solid;
  width: 300px;
  height: 550px;
  background-color: azure;
  margin-top: 50px;
  margin-left: 4px;
  border-radius: 15px;
  margin-top: 20px; 
}
.content {
  margin-top: -90px;
  font-size: 24px;
  margin-right: 15px;
  margin-bottom: 30%;
} 
.camera {
  background-color: white;
  width: 6px;
  height: 6px;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 150px;

}
.inbotton:hover{color: blue;
}

.login-form{
  text-align: center;
  margin-top: 100px;
  margin-left: 30px;
 
  
}
.control-bar{
  border-radius: 5px;
  width: 100px;
  height: 2px;
  background-color: gray;
  margin-left: 110px;
}
.emoji{
  margin-left: 90px;

}

/*here is my description part of work*/
.work-experience {
	display: flex;
	flex-direction: column;
}

.web {
  padding: 50px;
  margin-bottom: 20px;
	border: 1px solid;
}


.web h2 {
  font-size: 24px;
	margin-top: 0;
	margin-bottom: 5px;
	
}

.web p {
	font-family: serif;
}

.web ul {
  font-family: serif;
  font-size: 18px;
	margin-top: 5px;
	margin-bottom: 0;

}

.web li {
	margin-bottom: 5px;
}


/*css of site report*/
.topic{
  font-size: 90px;
}


/*here keyframe is used for my animation*/
@keyframes animation{
  from {background-color:lightslategrey; color: rgb(253, 253, 253);}
  to {background-color: rgb(0, 0, 0); }
  
}
/*the info area color will slowly changes*/
.aprishinfo{
  width: 100%;
  height: 100%;
  animation-name: animation;

  animation-duration:10s;
}


@keyframes spin {
  100%{transform:rotate(360deg);}
  0%{ transform: rotate(0deg);}
}

/*here i have mentioned the particular size after which the background color and the color will be changed*/


@media screen and (max-width: 800px)
{
body footer{
  background-color:lightgrey;
  color:black;
  
}
main{

  display: flex;
  flex-direction: column;
  /*grid-template-columns: auto; */
}
footer{
  display: flex;
  flex-direction: column;
}

}
@media screen and (max-width: 400px) {
  nav ul li a{
  display: none;
  }
  
   nav ul{
    position: fixed;
    width: 100%;
    height: 100%;
    right:100px
  }
  nav ul li{
    margin: 50px;
   
  }
  #check:checked ~ ul{
    right: auto;
  }
  .item {
    font-weight : bolder;

    }
    .topbtn {
      display: none;
    }
    .aprishinfo{
      margin-right:20px ;
    }
    .aprish{
      display:flex;
      flex-direction: row;
    }
    .buffer{
      width: 300px;
      height: 300px;
    }
    .aprish img{
      height : 180px;
  width: 180px;
  padding-left: 30px;
    }

  }